{% extends 'main_app/base.html' %}

{% block content %}
    <h1>bojamo</h1>

    <h3>Add user:</h3>
    <form action="{% url 'add_user' %}" method="post">
        {% csrf_token %}
        {{ user_form.as_p }}
        <input type="submit" value="Submit"/>
    </form>

    <h3>Add status:</h3>
    <form action="{% url 'add_status' %}" method="post">
        {% csrf_token %}
        {{ status_form.as_p }}
        <input type="submit" value="Submit"/>
    </form>

    <h3>Add priority:</h3>
    <form action="{% url 'add_priority' %}" method="post">
        {% csrf_token %}
        {{ priority_form.as_p }}
        <input type="submit" value="Submit"/>
    </form>


{% endblock %}
