{% extends 'main_app/base.html' %}

{% block content %}
    <h1>{{ user.username }}</h1>
    <table>
        <tr>
            <td><h3>Info:</h3></td>
        </tr>
        <tr>
            <td>first name</td>
            <td>{{ user.first_name }}</td>
        </tr>
        <tr>
            <td>last name</td>
            <td>{{ user.last_name }}</td>
        </tr>
        <tr>
            <td>email</td>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <td>permissions</td>
            <td>{{ user.permissions }}</td>
        </tr>
        <tr>
            <td>url</td>
            <td>{{ user.url }}</td>
        </tr>
        <tr>
            <td>description</td>
            <td>{{ user.description }}</td>
        </tr>
        <tr>
            <td>active</td>
            <td>{{ user.active }}</td>
        </tr>

        <tr>
            <td><h3>Groups:</h3></td>
        </tr>
        <tr>
            <td><h4>owner</h4></td>
            <td>
                {% if groups_owner %}
                    <ul>
                        {% for group in groups_owner %}
                            <li><a href="{% url 'get_group' group %}">{{ group }}</a></li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>No groups owner</p>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td><h4>member</h4></td>
            <td>
                {% if groups_member %}
                    <ul>
                        {% for group in groups_member %}
                            <li><a href="{% url 'get_group' group %}">{{ group }}</a></li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>No groups member</p>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td><h3>Tasks:</h3></td>
            <td>
                {% if tasks %}
                    <ul>
                        {% for task in tasks %}
                            <li><a href="{% url 'get_task' task.id %}">{{ task }}</a></li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>No tasks</p>
                {% endif %}
            </td>
        </tr>
    </table>
{% endblock %}