{% extends 'base.html' %}

{% block title %}
    - new project
{% endblock %}

{% block body %}
    <div class="container">
        <form action="" method="post">
            <h2 class="form-signin-heading">Add new project to {{ group }}</h2>
            {% csrf_token %}
            {% for field in form %}
                {{ field.label_tag }}
                {{ field }}
            {% endfor %}
            <button class="btn btn-lg btn-primary btn-block" type="submit">Add Project</button>
        </form>
    </div>

{% endblock %}