{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/signin.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}
    - {{ project.name }}
{% endblock %}

{% block body %}
    <div class="container">
        <table class="table table-striped">
            <thead>
            <tr>
                <th><a href="{% url 'project_detail' project.name %}">{{ project.name }}</a>'s detail</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>Name</th>
                <th>{{ project.name }}</th>
            </tr>
            <tr>
                <th>Owner</th>
                <th><a href="{% url 'user_detail' owner.username %}">{{ owner }}</a></th>
            </tr>
            <tr>
                <th>Group</th>
                <th><a href="{% url 'group_detail'  group.name %}">{{ group.name }}</a></th>
            </tr>
            <tr>
                <th>Members</th>
                <th>
                    {% for member in members %}
                        {% if forloop.last %}
                            <a href="{% url 'user_detail' member.username %}">{{ member }}</a>
                        {% else %}
                            <a href="{% url 'user_detail' member.username %}">{{ member }}</a>,
                        {% endif %}
                    {% endfor %}
                </th>
            </tr>
            <tr>
                <th>Date</th>
                <th>{{ project.date }}</th>
            </tr>
            <tr>
                <th>Website</th>
                <th>{{ project.url }}</th>
            </tr>
            <tr>
                <th>Repository</th>
                <th>{{ project.repository }}</th>
            </tr>
            <tr>
                <th>About this project</th>
                <th>
                    {% if project.description %}
                        {{ project.description }}
                    {% else %}
                        -
                    {% endif %}
                </th>
            </tr>
            </tbody>
        </table>

        {% if user in members %}
                <div style="overflow: auto;">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th><a href="{% url 'project_detail' project.name %}">{{ project.name }}</a>'s sprints</th>
                            </tr>
                            <tr>
                                <th>
                                    Sprint
                                    <a href="{% url 'sprint_create_view' project.name %}">
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </a>
                                </th>
                                <th>Begin</th>
                                <th>End</th>
                                <th>Active</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if sprints %}
                                {% for sprint in sprints %}
                                    <tr>
                                        <td>{{ sprint.number }}</td>
                                        <td>{{ sprint.begin }}</td>
                                        <td>{{ sprint.end }}</td>
                                        <td>{{ sprint.status }}</td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td>No active sprints</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
        {% endif %}
    </div>
{% endblock %}
